<h1>{{ title }}</h1>
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section id="banner">                
				<div class="content">
                    <header class="major">
                      <p><strong>Id  :</strong>  {{genre.Id}} </p>
                    </header>
                    <p><strong>Name  :</strong> {{genre.Name}}</p>
                    <p><strong>Email :</strong> {{genre.Email}}</p>
                    <p><strong>Description :</strong> {{genre.Description}}</p>
                    <p><strong>Created date :</strong> {{genre.CreatedDate}}</p>
				</div>
            </section>
        </div>
    </div>
</div>

